<div>

{%if form%}
<form  enctype="multipart/form-data"  action="/album/posts/edit/{{post.id}}" method="post">
{% csrf_token %}
<div>
{{form.Title}}

</div>
<div>
{{form.description}}

</div>

<div>
    <!-- <img src="{{post.image.url}}" alt="just_image" width="50" height="50">  -->
{{form.image}}
</div>
<div>
    <!-- <img src="{{post.image.url}}" alt="just_image" width="50" height="50">  -->
{{form.album}}
</div>
<button type="submit">yes</button>
<button hx-get="/album/{{post.album.id}}">No</button>
</form>
{%endif%}
</div>